:root {
    --logo: '';
}
.logo {
    background-size: contain;
    background-position: 50%;
}
.footer-top_logo {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}
.gutter {
    margin-right: 15px;
}

.miniImage {
    max-width: 80px;
    max-height: 75px;
}
.container-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.img-epayco {
    width: 600px;
}